.advantages {
  display: flex;
  flex-direction: column;
  width: 320px;
  margin: 0 auto;
}

.advantages__header {
  margin: 30px 0 70px 0;

  font-size: 24px;
  line-height: 28px;
  font-family: "Open Sans Light", "Arial", sans-serif;
  text-align: center;
  color: $color-blue;

  background-color: $color-white;
}

.advantages__promo {
  display: block;
  padding-bottom: 30px;
}

.advantages__wrapper {
  padding: 10px 20px 286px 20px;
}

@media (min-width: $tablet-width) {
  .advantages {
    display: flex;
    flex-direction: column;
    width: 651px;
    margin: 0 auto;
  }

  .advantages__header {
    margin: 48px 0 100px 0;

    font-size: 40px;
    line-height: 50px;
  }

  .advantages__promo {
    padding-bottom: 0;
  }

  .advantages__promo:last-child {
    width: 345px;
    margin: 0 auto;
    padding: 0;
  }

  .advantages__wrapper {
    padding: 18px 10px 20px 330px;
  }
}

@media (min-width: $desktop-width) {
  .advantages {
    display: flex;
    flex-direction: column;
    width: 1200px;
    margin: 0 auto;
  }

  .advantages__header {
    margin: 68px 0 165px 0;

    font-size: 50px;
    line-height: 60px;
  }

  .advantages__promo {
    display: block;
    padding-bottom: 0;
  }

  .advantages__promo:last-child {
    width: 460px;
    margin: 0 auto;
    padding: 0;
  }

  .advantages__wrapper {
    padding: 266px 162px 5px 161px;
  }
}
