.advantages {
  width: 100%;
  background-color: $color-grey;
}

.advantages__wrapper {
  display: flex;
  flex-direction: column;

  width: 270px;
  margin: 0 auto;
  padding: 15px 20px 286px 20px;

  background-size: 157px 320px;
  background-image: url("../img/iphone-screen-mobile@1x.png");
  background-position-x: 50%;
  background-position-y: 435px;
  background-repeat: no-repeat;
  background-color: $color-grey;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/iphone-screen-mobile@2x.png");
  }
}

.advantages__header {
  width: 100%;
  background-color: $color-white;
}

.advantages__header-container {
  width: 320px;
  margin: 41px auto 70px auto;

  font-size: 24px;
  line-height: 28px;
  font-family: "Open Sans Light", "Arial", sans-serif;
  text-align: center;
  color: $color-blue;
}

.advantages__promo {
  display: block;
  padding-bottom: 30px;
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .advantages__wrapper {
    display: flex;
    flex-direction: column;
    width: 320px;
    margin: 0 auto;
    padding: 79px 7px 9px 330px;

    background-clip: border-box;
    background-color: $color-grey;
    background-image: url("../img/iphone-screen-3-tablet@1x.png");
    background-size: 268px 481px;
    background-repeat: no-repeat;
    background-position-x: 5%;
    background-position-y: 11px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/iphone-screen-3-tablet@2x.png");
    }
  }


  .advantages__header-container {
    width: 600px;
    margin: 48px auto 0 auto;
    padding-bottom: 40px;

    font-size: 40px;
    line-height: 50px;
  }

  .advantages__header {
    width: 100%;
    background-color: $color-white;
  }

  .advantages__promo {
    padding-bottom: 0;
    text-align: center;
  }

  .advantages__promo:last-child {
    width: 345px;
    margin: 0 auto;
    padding: 0;
  }
}

@media (min-width: $desktop-width) {
  .advantages__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 874px;
    margin: 0 auto;
    padding: 376px 162px 5px 161px;

    background-image:
      url("../img/iphone-screen-1-desktop@1x.png"),
      url("../img/iphone-screen-2-desktop@1x.png"),
      url("../img/iphone-screen-3-desktop@1x.png");

    background-size: 292px 302px;
    background-position-x: 14%, 50%, 86%;
    background-position-y: 16px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image:
        url("../img/iphone-screen-1-desktop@2x.png"),
        url("../img/iphone-screen-2-desktop@2x.png"),
        url("../img/iphone-screen-3-desktop@2x.png");
    }
  }

  .advantages__header {
    width: 100%;
    background-color: $color-white;
  }

  .advantages__header-container {
    width: 800px;
    margin: 68px auto 26px auto;
    padding-bottom: 30px;

    font-size: 50px;
    line-height: 60px;
  }

  .advantages__promo {
    display: block;
    padding-bottom: 0;
  }

  .advantages__promo:last-child {
    width: 460px;
    margin: 0 auto;
    padding: 0;
  }
}
