.button-form {
  padding: 20px 0;

  font-size: 18px;
  line-height: 10px;
  font-family: "Open Sans Bold", "Arial", sans-serif;
  color: $color-white;
  text-transform: uppercase;

  background-color: $color-green;
  border: 0;

  &:hover {
    background-color: rgb(28, 155, 94);
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: rgb(28, 155, 94);
  }

  &:focus {
    color: rgba(255, 255, 255, 0.3);
    background-color: rgb(28, 155, 94);
  }

  &:disabled {
    background-color: $color-grey;
  }
}
