.button-form {
  padding: 20px 50px;

  font-size: 18px;
  line-height: 10px;
  font-family: "Open Sans Bold", "Arial", sans-serif;
  color: rgb(255, 255, 255);
  text-transform: uppercase;

  background-color: rgb(42, 171, 109);
  border: 0;
}
