.button-form {
  padding: 20px 0;

  font-size: 18px;
  line-height: 10px;
  font-family: "Open Sans Bold", "Arial", sans-serif;
  color: $color-white;
  text-transform: uppercase;

  background-color: $color-green;
  border: 0;
}
