.contacts {
  width: 320px;
  margin: 0 auto;
  text-align: center;
  background-color: $color-white;
}

.contacts__wrapper {
  padding: 51px 43px 0 43px;
}

.contacts__flex-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contacts__map {
  width: 100%;
  margin: 0 auto;
  background-image: url("../img/bg-map-mobile@1x.png");
  background-size: cover;
}

.contacts__description {
  width: 235px;
  margin: 0 auto;
  padding-bottom: 40px;

  font-size: 24px;
  line-height: 28px;
  font-family: "Open Sans Light", "Arial", sans-serif;
  text-align: center;
  color: $color-blue;
}

.contacts__header {
  margin: 0;
  padding-bottom: 7px;
  font-size: 18px;
  line-height: 12px;
  font-family: "Open Sans Bold", "Arial", sans-serif;
  text-align: center;
  color: $color-blue;
}

.contacts__element {
  text-align: center;
}

.contacts__link {
  display: inline-block;
  padding-bottom: 30px;
  font-size: 24px;
  line-height: 28px;
  font-family: "Open Sans Regular", "Arial", sans-serif;
  color: $color-pink;
  text-decoration: none;
}

@media (min-width: $tablet-width) {
  .contacts {
    width: 660px;
  }

  .contacts__wrapper {
    padding: 48px 40px 0 47px;
  }

  .contacts__flex-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    flex-shrink: 0;
  }

  .contacts__description {
    width: 380px;
    margin: 0 auto;
    padding-bottom: 49px;

    font-size: 40px;
    line-height: 48px;
  }

  .contacts__element {
    width: 250px;
    padding-bottom: 26px;
  }

  .contacts__header {
    padding-bottom: 10px;
  }

  .contacts__element:nth-child(3) {
    margin: 0 auto;
  }

  .contacts__map {
    margin: 0 auto;
    background-image: url("../img/bg-map-mobile@1x.png");
    background-size: cover;
  }
}

@media (min-width: $desktop-width) {
  .contacts {
    width: 1200px;
    padding-left: 127px;
    padding-right: 127px;
  }

  .contacts__flex-wrapper {
    flex-wrap: no-wrap;
    justify-content: space-around;
    align-items: baseline;
    padding: 0 80px 0 75px;
  }

  .contacts__description {
    width: 465px;
    margin: 0 auto;
    padding-bottom: 67px;

    font-size: 50px;
    line-height: 58px;
  }

  .contacts__element {
    width: 220px;
    padding-bottom: 0;
  }

  .contacts__header {
    padding-bottom: 30px;
  }

  .contacts__element:nth-child(3) {
    margin: 0;
  }

  .contacts__element--call {
    order: 1;
  }

  .contacts__element--come {
    order: 2;
  }

  .contacts__element--write {
    order: 3;
  }
}
