.contacts {
  position: relative;
  width: 100%;
  background-color: $color-white;
}

.contacts__wrapper {
  width: 234px;
  margin: 0 auto;
  padding: 42px 43px 0 43px;
  text-align: center;
}

.contacts__mask {
  position: absolute;
  top: -1px;
  left: 0;
  width: 100%;
  height: 35px;
  z-index: 10;
}

.contacts__flex-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contacts__description {
  width: 235px;
  margin: 0 auto;
  padding-bottom: 40px;

  font-size: 24px;
  line-height: 28px;
  font-family: "Open Sans Light", "Arial", sans-serif;
  text-align: center;
  color: $color-blue;
}

.contacts__header {
  margin: 0;
  padding-bottom: 7px;
  font-size: 18px;
  line-height: 13px;
  font-family: "Open Sans Bold", "Arial", sans-serif;
  text-align: center;
  color: $color-blue;
}

.contacts__element {
  width: 250px;
  text-align: center;
}

.contacts__link {
  display: inline-block;
  padding-bottom: 30px;
  font-size: 24px;
  line-height: 28px;
  font-family: "Open Sans Light", "Arial", sans-serif;
  color: $color-pink;
  text-decoration: none;

  &:hover {
    color: $color-black;
    text-decoration: underline;
  }

  &:active {
    color: rgba(40, 54, 69, 0.3);
  }

  &:focus {
    color: rgba(40, 54, 69, 0.3);
  }
}

.contacts__map-container {
  position: relative;
}

.contacts__map {
  width: 100%;
  height: 200px;
}

@media (min-width: $tablet-width) {
  .contacts__wrapper {
    width: 572px;
    padding: 44px 44px 0 44px;
  }

  .contacts__flex-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    flex-shrink: 0;
  }

  .contacts__description {
    width: 380px;
    margin: 0 auto;
    padding-bottom: 49px;

    font-size: 40px;
    line-height: 48px;
  }

  .contacts__element {
    width: 250px;
    padding-bottom: 26px;
  }

  .contacts__header {
    padding-bottom: 10px;
  }

  .contacts__element:nth-child(3) {
    margin: 0 auto;
  }

  .contacts__map {
    height: 372px;
  }

  .contacts__mask {
    top: -35px;
    height: 135px;
  }
}

@media (min-width: $desktop-width) {
  .contacts__wrapper {
    width: 872px;
    padding: 48px 166px 0 166px;
  }

  .contacts__flex-wrapper {
    margin: 0 auto;

    flex-wrap: no-wrap;
    justify-content: space-between;
    align-items: baseline;
    padding: 0;
  }

  .contacts__description {
    width: 465px;
    margin: 0 auto;
    padding-bottom: 63px;

    font-size: 50px;
    line-height: 58px;
  }

  .contacts__element {
    width: 220px;
    padding-bottom: 0;
  }

  .contacts__header {
    padding-bottom: 30px;
  }

  .contacts__element:nth-child(3) {
    margin: 0;
  }

  .contacts__element--call {
    order: 1;
  }

  .contacts__element--come {
    order: 2;
  }

  .contacts__element--write {
    order: 3;
  }

  .contacts__map {
    height: 492px;

    margin: 0 auto;
  }

  .contacts__mask {
    top: -5px;
  }
}
