.form-group__description {
  padding-bottom: 25px;

  font-size: 14px;
  line-height: 18px;
  font-family: "Open Sans Regular", "Arial", sans-serif;
  color: $color-pink;
  font-weight: normal;
  text-transform: uppercase;

  text-align: center;
}

.form-group__input-label {
  margin: 0;
  padding-left: 23px;
  padding-bottom: 11px;
  padding-top: 7px;

  font-size: 14px;
  font-family: "Open Sans Regular", "Arial", sans-serif;
  color: $color-pink;
  text-transform: uppercase;
}

.form-group__input {
  width: 257px;
  padding: 16px 0 16px 21px;
  margin-bottom: 15px;

  font-size: 18px;
  line-height: 30px;
  font-family: "Open Sans Regular", "Arial", sans-serif;
  color: $color-blue;

  border: 2px solid $color-grey;
  outline: none;

  &:hover {
    border: 2px solid $color-black;
  }

  &:active {
    border: 2px solid $color-pink;
  }

  &:focus {
    border: 2px solid $color-pink;
  }
}

.form-group__input--wide {
  width: 254px;
  height: 165px;
  margin: 0 auto;
  z-index: 1;
}


.form-group__checkbox-label {
  margin-bottom: 41px;

  font-size: 18px;
  line-height: 0;
  font-family: "Open Sans Regular", "Arial", sans-serif;
  color: $color-blue;
}

.form-group__radio-label {
  margin-bottom: 34px;
  margin-left: 3px;

  font-size: 18px;
  line-height: 0;
  font-family: "Open Sans Regular", "Arial", sans-serif;
  color: $color-blue;
}

.form-group__description--contacs {
  display: none;
}

.form-group__contacts-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.form-group__description--achievements {
  width: 250px;
  margin: 0 auto;
  padding-top: 24px;
}

.form-group__achievements-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.form-group__description--application {
  padding-bottom: 8px;
}

.form-group__description--emotions {
  padding-bottom: 3px;
}

.form-group__checkbox-input {
  display: none;
}

.form-group__radio-input {
  display: none;
}

.form-group__checkbox-label::before {
  position: relative;
  display: inline-block;
  top: 14px;
  width: 37px;
  height: 37px;
  margin-right: 28px;
  content: "";
  background-color: $color-white;
  border: 2px solid rgb(220, 229, 229);
}

.form-group__checkbox-input:checked + .form-group__checkbox-label::before {
  background-image: url("../img/icon-yes.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.form-group__checkbox-label:hover::before {
  border: 2px solid $color-black;
}

.form-group__checkbox-label:active::before {
  border: 2px solid $color-pink;
}

.form-group__radio-label::before {
  position: relative;
  display: inline-block;
  top: 14px;
  width: 37px;
  height: 37px;
  margin-right: 25px;
  content: "";
  background-color: $color-white;
  border-radius: 50%;
  border: 2px solid rgb(220, 229, 229);
}

.form-group__radio-input:checked + .form-group__radio-label::before {
  background-image: url("../img/icon-map-marker.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.form-group__radio-label:hover::before {
  border: 2px solid $color-black;
}

.form-group__radio-label:active::before {
  border: 2px solid $color-pink;
}

@media (min-width: $tablet-width) {
  .form-group__input {
    width: 500px;
    margin-bottom: 49px;
  }

  .form-group__input--wide {
    width: 478px;
    height: 155px;
  }

  .form-group__input--name {
    width: 540px;
  }

  .form-group__input-label {
    padding-left: 0;
    margin-left: 0;
  }

  .form-group__radio-label {
    margin-left: 60px;
    margin-bottom: 35px;
  }

  .form-group__radio-label::before {
    margin-right: 19px;
  }

  .form-group__description--application {
    padding: 6px 15px 30px 15px;
    margin: 0 auto;
    background-color: $color-white;
    z-index: 1;
  }

  .form-group__description--contacs {
    display: block;
    margin: 0 auto;
    padding: 6px 15px 37px 15px;
    background-color: $color-white;
    z-index: 1;
  }

  .form-group__description--achievements {
    width: 400px;
    padding-bottom: 29px;
    background-color: $color-white;
    z-index: 1;
  }

  .form-group__contacts-wrapper {
    padding: 0 60px 0 60px;
    z-index: 1;
  }

  .form-group__input--phone {
    order: 1;
    width: 476px;
    margin-bottom: 0;
  }

  .form-group__input-label--phone {
    order: 2;
    margin-left: 23px;
    margin-top: 8px;
    margin-bottom: 24px;
  }

  .form-group__input--email {
    order: 3;
    width: 476px;
    margin-bottom: 0;
  }

  .form-group__input-label--email {
    order: 4;
    margin-left: 23px;
    margin-top: 8px;
  }

  .form-group__achievements-wrapper {
    padding-left: 59px;
    z-index: 1;
  }

  .form-group__description--emotions {
    padding: 0 20px 39px 20px;
    margin: 0 auto;
    background-color: $color-white;
    z-index: 1;
  }
}

@media (min-width: $desktop-width) {
  .form-group__input {
    width: 315px;
    margin-bottom: 49px;
    margin-left: 18px;
  }

  .form-group__input--name {
    width: 354px;
  }

  .form-group__radio-label {
    margin-left: 48px;
  }

  .form-group__description--application {
    padding: 8px 15px 30px 15px;
  }

  .form-group__description--contacts {
    margin-left: 100px;
    padding-bottom: 8px 15px 34px 15px;
  }

  .form-group__contacts-wrapper {
    justify-content: space-between;
    flex-direction: row;
    width: 820px;
    padding: 0 40px 0 40px;
  }

  .form-group__input--phone {
    order: 1;
    width: 353px;
    margin: 0;
  }

  .form-group__input-label--phone {
    order: 3;
    margin-left: 20px;
    margin-top: 8px;
    margin-bottom: 24px;
  }

  .form-group__input--email {
    order: 2;
    width: 353px;
    margin: 0;
  }

  .form-group__input-label--email {
    order: 4;
    margin-right: 257px;
    margin-top: 8px;
  }

  .form-group__achievements-wrapper {
    flex-direction: column;
    flex-wrap: wrap;
    height: 200px;
    padding-left: 36px;
  }

  .form-group__input--wide {
    width: 796px;
    height: 91px;
    margin: 0 auto;
  }

  .form-group__description--emotions {
    padding: 0 20px 34px 20px;
  }
}
