.form-group {
  padding: 20px 20px;
}

.form-group__description {
  padding-bottom: 10px;

  font-size: 14px;
  line-height: 18px;
  font-family: "Open Sans Regular", "Arial", sans-serif;
  color: rgb(210, 40, 86);
  font-weight: normal;
  text-transform: uppercase;

  text-align: center;
}

.form-group__input-label {
  font-size: 14px;
  line-height: 30px;
  font-family: "Open Sans Regular", "Arial", sans-serif;
  color: rgb(210, 40, 86);
  text-transform: uppercase;
}

.form-group__input {
  padding: 10px 0;

  font-size: 18px;
  line-height: 30px;
  font-family: "Open Sans Regular", "Arial", sans-serif;
  color: rgb(40, 54, 69);

  border: 2px solid rgb(242, 242, 242);
}

.form-group__input--wide {
  width: 276px;
  height: 200px;
  margin: 0 auto;
}

.form-group__checkbox-label {
  margin-bottom: 45px;

  font-size: 18px;
  line-height: 30px;
  font-family: "Open Sans Regular", "Arial", sans-serif;
  color: rgb(40, 54, 69);
}

@media (min-width: $tablet-width) {
  .form-group__input {
    width: 100%;
  }

  .form-group__input--wide {
    width: 636px;
    height: 190px;
    margin: 0 auto;
  }
}

@media (min-width: $desktop-width) {
  .form-group {
    margin-bottom: 66px;
    padding: 50px 70px 50px 70px;
  }

  .form-group__input--wide {
    width: 818px;
    height: 126px;
    margin: 0 auto;
  }
}
