.loaded-post {
  background-color: $color-grey;
}

.loaded-post__review-author {
  font-size: 14px;
  line-height: 24px;
  font-family: "Open Sans Bold", "Arial", sans-serif;
  color: $color-blue;
}

.loaded-post__review-time {
  font-size: 12px;
  line-height: 24px;
  font-family: "Open Sans Light", "Arial", sans-serif;
  color: $color-blue;
}

.loaded-post__review-description {
  font-size: 14px;
  line-height: 24px;
  font-family: "Open Sans Regular", "Arial", sans-serif;
  color: $color-blue;
}

.loaded-post__review-likes {
  font-size: 12px;
  line-height: 24px;
  font-family: "Open Sans Regular", "Arial", sans-serif;
  color: $color-pink;
  text-transform: uppercase;
}
