.main-nav {
  font-size: 18px;
  line-height: 32px;
  font-family: "Open Sans Bold", "Arial", sans-serif;
  text-align: center;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
}

.main-nav__list {
  margin: 0;
  padding: 0;
}
