.main-form__achievements {
  background-color: rgb(242, 242, 242);
}

.main-form__application {
  background-color: rgb(242, 242, 242);
}

.main-form__description {
  font-size: 14px;
  line-height: 18px;
  font-family: "Open Sans Regular", "Arial", sans-serif;
  color: rgb(210, 40, 86);
}

.main-form__note {
  font-size: 14px;
  line-height: 30px;
  font-family: "Open Sans Regular", "Arial", sans-serif;
  color: rgb(40, 54, 69);
  text-transform: uppercase;
}

.main-form__note--red {
  color: rgb(210, 40, 86);
}
