.main-form__initials {
  display: flex;
  flex-direction: column;
  width: 280px;
  border: 0 none;
}

.main-form__achievements {
  display: flex;
  flex-direction: column;
  width: 280px;
  background-color: $color-grey;
  border: 0 none;
}

.main-form__contacts {
  display: flex;
  flex-direction: column;
  width: 280px;
  border: 0 none;
}

.main-form__application {
  display: flex;
  flex-direction: column;
  width: 280px;
  background-color: $color-grey;
  border: 0 none;
}

.main-form__emotions {
  border: 0 none;
}

.main-form__send {
  width: 280px;
  padding: 0 20px;
  margin: 0 auto;
  text-align: center;
}

.main-form__button {
  width: 280px;
  margin: 0 auto;
}

.main-form__note {
  display: block;
  padding-top: 20px;

  font-size: 14px;
  line-height: 30px;
  font-family: "Open Sans Regular", "Arial", sans-serif;
  color: $color-blue;
  text-transform: uppercase;
}

.main-form__note--red {
  color: $color-pink;
}

@media (min-width: $tablet-width) {
  .main-form__initials {
    order: 1;
    width: 620px;
  }

  .main-form__application {
    order: 2;
    width: 620px;
  }

  .main-form__achievements {
    order: 4;
    width: 620px;
  }

  .main-form__contacts {
    order: 3;
    width: 620px;
  }

  .main-form__emotions {
    order: 5;
    width: 620px;
  }

  .main-form__send {
    width: 620px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
  }

  .main-form__button {
    margin: 0;
  }
}

@media (min-width: $desktop-width) {
  .main-form__initials {
    width: 305px;
  }

  .main-form__application {
    width: 305px;
    background-color: $color-white;
    border: 2px solid $color-grey;
  }

  .main-form__contacts {
    width: 800px;
    flex-direction: row;
    border: 2px solid $color-grey;
  }

  .main-form__achievements {
    width: 800px;
    background-color: $color-white;
    border: 2px solid $color-grey;
  }

  .main-form__send {
    width: 940px;
  }
}
