.page-footer__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 180px;
  height: 228px;
  margin: 0 auto;
  padding: 39px 70px 25px 70px;
  text-align: center;
}

.page-footer__image--tablet {
  display: none;
}

.page-footer__image--mobile {
  fill: $color-blue;
}

.page-footer__image {
  &:hover svg {
    fill: $color-pink;
  }

  &:focus svg {
    fill: $color-pink;
  }

  &:active svg {
    fill-opacity: 0.3;
  }
}

.page-footer__element--copyright {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  width: 145px;
  margin-bottom: 13px;
  padding-left: 15px;

  font-size: 14px;
  line-height: 18px;
  font-family: "Open Sans Regular", "Arial", sans-serif;
  color: $color-blue;
}

.page-footer__madeby {
  padding-top: 8px;
  padding-right: 16px;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
}

.page-footer__link {
  padding-top: 14px;
  display: inline-block;

  &:hover svg {
    fill: $color-blue;
  }

  &:focus svg {
    fill: rgba(40, 54, 69, 0.3);
  }

  &:active svg {
    fill: rgba(40, 54, 69, 0.3);
  }
}

.page-footer__link svg {
  fill: $color-pink;
}

.page-footer__element--social {
  display: flex;
  justify-content: space-between;
  width: 180px;
  margin-top: 17px;
}

.page-footer__social-button {
  position: relative;
  display: inline-block;
  width: 46px;
  height: 46px;
  font-size: 0;
  text-decoration: none;
  border: 3px solid rgb(233, 235, 236);
  border-radius: 50%;

  &:hover {
    border: 3px solid $color-black;
  }

  &:active {
    color: rgba(210, 40, 86, 0.3);
    border: 3px solid rgb(233, 235, 236);

    svg {
      fill: rgba(210, 40, 86, 0.3);
    }
  }

  &:focus {
    color: rgba(210, 40, 86, 0.3);
    border: 3px solid rgb(233, 235, 236);

    svg {
      fill: rgba(210, 40, 86, 0.3);
    }
  }
}

.page-footer__social-button svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  fill: $color-pink;
}

.page-footer--hide {
  display: none;
}

@media (min-width: $tablet-width) {
  .page-footer {
    display: block;
    width: 660px;
    margin: 0 auto;
  }

  .page-footer__wrapper {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    height: 100px;
    width: 620px;
    padding: 13px 20px 25px 20px;
  }

  .page-footer__element {
    height: 60px;
    padding-bottom: 0;
  }

  .page-footer__image--mobile {
    display: none;
  }

  .page-footer__image--tablet {
    display: block;
  }

  .page-footer__element--copyright {
    margin-bottom: 9px;
    padding-left: 0;
  }

  .page-footer__element--social {
    margin-top: 4px;
  }

  .page-footer--hide {
    display: block;
  }

  .page-footer__madeby {
    padding-right: 16px;
  }
}

@media (min-width: $desktop-width) {
  .page-footer {
    width: 1200px;
  }

  .page-footer__element {
    height: 48px;
  }

  .page-footer__wrapper {
    width: 940px;
    padding: 48px 130px 70px 130px;
  }

  .page-footer__image {
    display: block;
  }

  .page-footer__madeby {
    font-size: 18px;
    line-height: 18px;
    font-family: "Open Sans Regular", "Arial", sans-serif;
    color: $color-blue;
  }

  .page-footer--photos-desktop {
    padding-top: 22px;
  }
}
