.page-header {
  display: flex;
  flex-direction: column;

  width: 320px;
  margin: 0 auto;

  background-color: rgb(40, 54, 69);
}

@media (min-width: $tablet-width) {
  .page-header {
    width: 660px;
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    flex-direction: row;
    justify-content: space-between;

    width: 940px;
    margin: 0 auto;
    padding: 0 130px;
  }
}
