.page-header {
  position: absolute;

  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

.page-header--nojs {
  position: static;
  background-color: $color-blue;
}

.page-header--static {
  position: static;
  background-color: $color-blue;
}

.page-header__container {
  display: flex;
  flex-direction: column;

  width: auto;
  margin: 0 auto;
}

.page-header__logo-container {
  padding: 0 20px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  min-height: 70px;
}

.page-header__logo-container--closed {
  width: 320px;
  margin: 0 auto;
  padding: 0 20px;
}

.page-header__logo-container--opened {
  background-color: $color-blue;
  width: 280px;
  margin: 0 auto;
}

.page-header__logo {
  fill: $color-white;

  &:hover svg {
    fill: $color-pink;
  }

  &:active svg {
    fill: rgba(255, 255, 255, 0.3);
  }

  &:focus svg {
    fill: $color-pink;
  }
}

.page-header__logo--tablet {
  display: none;
}

.page-header__logo--desktop {
  display: none;
}

.page-header__burger {
  fill: $color-white;
}

.page-header__cross {
  fill: $color-white;
}

.page-header__toggler {
  cursor: pointer;
  background-color: transparent;
  border: none;

  &:hover svg {
    fill: $color-pink;
  }

  &:active svg {
    fill: rgba(210, 40, 86, 0.3);
  }

  &:focus svg {
    fill: $color-pink;
  }
}

.page-header__toggler--icon-change {
  display: none;
}

.page-header__toggler--nojs {
  display: none;
}

@media (min-width: $tablet-width) {
  .page-header {
    width: 100%;
  }

  .page-header__container {
    width: 100%;
    margin: 0 auto;
  }

  .page-header__logo-container {
    align-items: baseline;
    width: auto;
    padding: 28px 20px 11px 20px;
  }

  .page-header__logo-container--closed {
    width: 620px;
  }

  .page-header__logo-container--opened {
    width: 620px;
  }

  .page-header__logo--mobile {
    display: none;
  }

  .page-header__logo--tablet {
    display: inline-block;
  }
}

@media (min-width: $desktop-width) {
  .page-header__container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 940px;
    padding: 15px 130px 18px 130px;
  }

  .page-header__logo-container {
    width: 160px;
    padding: 7px 0 0 0;
  }

  .page-header__logo-container--closed {
    position: static;
    width: 280px;
    margin: 0;
    background-color: transparent;
  }

  .page-header__logo--mobile {
    display: none;
  }

  .page-header__logo--tablet {
    display: none;
  }

  .page-header__logo--desktop {
    display: block;
  }

  .page-header__toggler {
    display: none;
  }

  .page-header__logo-container--opened {
    background-color: transparent;
  }

  .page-header__logo-container--nojs {
    background-color: transparent;
  }
}
