.page-title {
  width: 100%;

  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: $color-blue;
}

.page-title__header {
  width: 168px;
  margin: 0 auto;
  padding: 90px 0 53px 0;
  text-align: center;


  font-size: 24px;
  line-height: 30px;
  font-family: "Open Sans Light", "Arial", sans-serif;
  color: $color-white;
}

.page-title--form {
  padding: 91px 0 0 0;
}

.page-title__header--form {
  width: 230px;
}

@media (min-width: $tablet-width) {
  .page-title--photos {
    padding: 134px 0 60px 0;
  }

  .page-title__header {
    width: 500px;
    font-size: 50px;
    line-height: 60px;
  }

  .page-title__header--form {
    padding: 134px 0 84px 0;
  }
}

@media (min-width: $desktop-width) {
  .page-title__header {
    width: 760px;
    padding: 176px 0 100px 0;

    font-size: 50px;
    line-height: 60px;
  }

  .page-title--photos {
    padding: 134px 0 3px 0;
  }

  .page-title__header--form {
    padding: 84px 0 100px 0;
  }

  .page-title__header--photos {
    width: 400px;
  }
}
