.page-about {
  width: 320px;
  margin: 0 auto;
  padding: 45px 0 47px 0;
  text-align: center;
}

.page-about__description {
  width: 250px;
  margin: 0 auto;
  padding: 0;

  font-size: 14px;
  line-height: 30px;
  font-family: "Open Sans Regular", "Arial", sans-serif;
  color: $color-blue;

  background-color: $color-white;
}

.page-about-form {
  padding: 45px 0 13px 0;
}

.page-about__description--form {
  width: 288px;
}

.page-about__description--additional {
  display: none;
}

@media (min-width: $tablet-width) {
  .page-about {
    width: 660px;
    margin: 0 auto;
    padding: 90px 0 45px 0;
  }

  .page-about--photos {
    padding: 90px 0 77px 0;
  }

  .page-about--form {
    padding: 92px 0 48px 0;
  }

  .page-about__description {
    width: 530px;

    font-size: 18px;
  }

  .page-about__description--additional {
    display: inline;
    width: 530px;

    font-size: 18px;
    line-height: 30px;
    font-family: "Open Sans Regular", "Arial", sans-serif;
    color: $color-blue;
  }
}

@media (min-width: $desktop-width) {
  .page-about {
    width: 1200px;
    margin: 0 auto;
    padding: 92px 0 62px 0;
  }

  .page-about--photos {
    padding: 92px 0 90px 0;
  }

  .page-about__description {
    display: inline-block;
    width: 790px;
  }

  .page-about__description--additional {
    display: inline;
  }

  .page-about__description--photos {
    width: 625px;
  }
}
