.popup__title {
  font-size: 18px;
  line-height: 24px;
  font-family: "Open Sans Bold", "Arial", sans-serif;
  color: rgb(0, 0, 0);
}

.popup__description {
  font-size: 14px;
  line-height: 24px;
  font-family: "Open Sans Regular", "Arial", sans-serif;
  color: rgb(40, 54, 69);
}
