.prices {
  margin: 0 auto;

  text-transform: uppercase;
  background-color: $color-grey;
}

.prices__wrapper {
  position: relative;
  width: 320px;
  height: 282px;
  margin: 0 auto;
  padding: 34px 0  0 0;

  overflow: hidden;
}

.prices__header {
  width: 280px;
  height: 100px;

  background-color: $color-blue;
  border-right: 2px solid rgb(229, 229, 229);
  border-left: 2px solid rgb(229, 229, 229);
}

.prices__table {
  width: 834px;
  position: absolute;
  top: 0;
  left: -80%;
  right: 50%;

  margin: 0 auto;

  border-collapse: collapse;
}

.prices__tarrif {
  margin: 0;

  font-size: 18px;
  line-height: 30px;
  font-family: "Open Sans Bold", "Arial", sans-serif;
  color: $color-white;
}

.prices__value {
  padding: 0;
  margin: 0;

  font-size: 24px;
  line-height: 30px;
  font-family: "Open Sans Light", "Arial", sans-serif;
  font-weight: 200;
  text-align: center;
  color: $color-white;
}

.prices__class {
  height: 56px;
  width: 256px;

  padding-left: 22px;

  font-size: 14px;
  line-height: 30px;
  font-family: "Open Sans Regular", "Arial", sans-serif;
  color: $color-blue;

  background-color: $color-white;
  border: 2px solid rgb(229, 229, 229);
}

.prices__type {
  display: inline-block;
  vertical-align: middle;
  width: 131px;
  height: 26px;
  text-align: left;
}

.prices__option {
  position: relative;
  display: inline-block;
  vertical-align: middle;

  width: 31px;
  height: 26px;

  margin-left: 30%;

  font-size: 0;
  text-align: right;
}

.prices__option::after {
  position: absolute;
  top: 50%;
  left: 50%;
  content: "";
  transform: translate(-50%, -50%);
}

.prices__option--include::after {
  width: 31px;
  height: 21px;
  background-image: url("../img/icon-yes.svg");
  background-repeat: no-repeat;
}

.prices__option--exclude::after {
  width: 27px;
  height: 26px;
  background-image: url("../img/icon-no.svg");
  background-repeat: no-repeat;
}

.prices__slider {
  margin: 0 auto;
  padding-bottom: 42px;
  padding-left: 14px;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .prices__wrapper {
    padding: 90px 0 70px 0;
  }

  .prices__tarrif {
    font-size: 16px;
  }

  .prices__value {
    font-size: 18px;
  }

  .prices__header {
    width: 320px;
    padding: 5px 0 5px 0;
  }

  .prices__option {
    height: 43px;
  }

  .prices__slider {
    padding-bottom: 0;
  }
}

@media (min-width: $desktop-width) {
  .prices__wrapper {
    padding: 150px 0 100px 0;
  }
}
