.reviews {
  position: relative;
  width: 320px;
  margin: 0 auto;
  text-align: center;
  overflow: hidden;
}

.reviews__wrapper {
  position: absolute;
  display: flex;
  flex-direction: row;
  left: 0;
  padding: 40px 20px 12px 20px;
}

.reviews__item {
  display: flex;
  flex-direction: column;
  min-width: 280px;
  padding-right: 40px;
}

.reviews__author-name {
  font-size: 18px;
  line-height: 30px;
  font-family: "Open Sans Bold", "Arial", sans-serif;
  color: $color-black;
}

.reviews__description {
  font-size: 14px;
  line-height: 30px;
  font-family: "Open Sans Regular", "Arial", sans-serif;
  color: $color-blue;
}

.reviews__author-job {
  display: none;
}

.reviews__slider {
  margin-bottom: 36px;
  padding-top: 290px;
  padding-left: 14px;
  text-align: center;
}

.reviews__arrow {
  display: none;
}

.reviews__quotes {
  display: none;
}

@media (min-width: $tablet-width) {
  .reviews {
    width: 660px;
    padding-bottom: 28px;
  }

  .reviews__wrapper {
    padding: 41px 20px 12px 20px;
  }

  .reviews__item {
    display: flex;
    flex-direction: column-reverse;

    min-width: 620px;
  }

  .reviews__author-name {
    order: 2;
    padding-bottom: 2px;
    font-size: 20px;
  }

  .reviews__description {
    order: 3;
    padding-bottom: 18px;
    font-size: 18px;
  }

  .reviews__author-job {
    order: 1;
    display: inline;
    padding-bottom: 3px;
    font-size: 14px;
    line-height: 30px;
    font-family: "Open Sans Regular", "Arial", sans-serif;
  }

  .reviews__slider {
    margin-bottom: 0;
    padding-top: 271px;
    padding-left: 20px;
  }
}

@media (min-width: $desktop-width) {
  .reviews {
    width: 1200px;
    padding-bottom: 410px;
  }

  .reviews__wrapper {
    padding: 166px 20px 12px 244px;
    left: -79.5%;
  }

  .reviews__author-name {
    font-size: 24px;
  }

  .reviews__author-job {
    font-size: 18px;
  }

  .reviews__item {
    min-width: 706px;
    margin: 0 auto;
    padding-right: 250px;
    text-align: center;
  }

  .reviews__slider {
    display: none;
  }

  .reviews__arrow {
    display: block;
    position: absolute;
    width: 22px;
    height: 41px;

    font-size: 0;
    background-color: transparent;
    border: none;

    cursor: pointer;
    z-index: 1;
  }

  .reviews__arrow--left {
    left: 125px;
    top: 209px;

    svg {
      fill: rgba(40, 54, 69, 0.3);
    }
  }

  .reviews__arrow--right {
    right: 135px;
    top: 210px;

    svg {
      fill: rgba(40, 54, 69, 0.3);
    }
  }

  .reviews__quotes {
    position: absolute;
    left: 47%;
    top: 16%;
    display: block;

    svg {
      fill: rgba(0, 0, 0, 0.3);
    }
  }
}
