.reviews {
  position: relative;
  width: 320px;
  margin: 0 auto;
  padding-bottom: 95px;
  text-align: center;
  overflow: hidden;
}

.reviews__wrapper {
  position: absolute;
  display: flex;
  flex-direction: row;
  left: 0;
  padding: 40px 20px 12px 35px;
}

.reviews__item {
  display: flex;
  flex-direction: column;
  width: 280px;
  padding-right: 40px;
}

.reviews__author-name {
  font-size: 18px;
  line-height: 30px;
  font-family: "Open Sans Bold", "Arial", sans-serif;
  color: $color-black;
}

.reviews__description {
  font-size: 14px;
  line-height: 30px;
  font-family: "Open Sans Regular", "Arial", sans-serif;
  color: $color-blue;
}

.reviews__author-job {
  display: none;
}

.reviews__slider {
  margin-bottom: 36px;
  padding-top: 290px;
  padding-left: 14px;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .reviews {
    width: 660px;
  }

  .reviews__wrapper {
    padding: 40px 20px 12px 25px;
  }

  .reviews__item {
    display: flex;
    flex-direction: column-reverse;

    width: 620px;
  }

  .reviews__author-name {
    order: 2;
    font-size: 20px;
  }

  .reviews__description {
    order: 3;
    padding-bottom: 16px;
    font-size: 18px;
  }

  .reviews__author-job {
    order: 1;
    display: inline;
    padding-bottom: 3px;
    font-size: 14px;
    line-height: 30px;
    font-family: "Open Sans Regular", "Arial", sans-serif;
  }

  .reviews__slider {
    margin-bottom: 105px;
    padding-top: 271px;
    padding-left: 20px;
  }
}

@media (min-width: $desktop-width) {
  .reviews {
    width: 1200px;
  }

  .reviews__author-name {
    font-size: 24px;
  }

  .reviews__item {
    width: 690px;
    margin: 0 auto;
  }
}
