.site-list {
  position: relative;
  display: flex;
  flex-direction: column;
  list-style: none;

  background-color: $color-blue;
}

.site-list__item {
  flex-basis: 32px;
  padding: 16px 0;

  box-shadow:
    0 1px rgba(255, 255, 255, 0.15) inset,
    0 -1px $color-black;
}

.site-list__item--last {
  position: absolute;
  top: 192px;
  width: 320px;

  background-color: $color-blue;
  box-shadow:
    0 -1px $color-black inset,
    0 1px rgba(255, 255, 255, 0.15) inset,
    0 -1px $color-black;

  z-index: 1;
}

.site-list__link {
  text-decoration: none;
  color: $color-white;
}

@media (min-width: $tablet-width) {
  .site-list__item--last {
    width: 660px;
  }
}

@media (min-width: $desktop-width) {
  .site-list {
    min-height: 110px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .site-list__item {
    flex-basis: auto;
    padding: 0;

    border: none;
    box-shadow: none;
  }
}
