$color-blue: rgb(40, 54, 69);
$color-dark-blue: rgb(29, 38, 49);
$color-pink: rgb(210, 40, 86);
$color-grey: rgb(242, 242, 242);
$color-green: rgb(42, 171, 109);
$color-white: rgb(255, 255, 255);
$color-black: rgb(0, 0, 0);

$tablet-width: 660px;
$desktop-width: 1200px;
